<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add person</title>
</head>
<body>
<h3>Add person</h3>
<div class="container">
    <form action="#" th:action="@{/persons/add/submit}" th:method="post" th:object="${person}">
        <input type="email" th:field="*{email}" required>
        <input type="text" th:field="*{firstName}">
        <input type="text" th:field="*{lastName}">
        <input type="tel" th:field="*{phoneNumber}">
        <button type="submit">Save & return</button>
    </form>
</div>
<div class="footer">
    Return to <a href="#" th:href="@{/persons}">People</a> page
</div>
</body>
</html>