<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
<div class="container">
<h3>People</h3>
<table>
    <tr th:each="person : ${persons}">
        <td><a href="#"
               th:text="${person.firstName} + ' ' + ${person.lastName}"
               th:href="@{/persons/{id}(id=${person.id})}">{firstName} {lastName}</a></td>
    </tr>
</table>
<a href="#" th:href="@{/persons/add}">Add new person...</a>
</div>
<div class="footer">
    <a href="#" th:href="@{/}">Return to start page...</a>
</div>

</body>
</html>