<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register new user</title>
</head>
<body>
<h3>Register new user</h3>
<div class="container">
    <div class="error" th:text="${error}">{error}</div>
    <form action="#" th:action="@{/register}" th:method="post" th:object="${person}">
        <input type="email" th:field="*{email}" placeholder="E-mail" required>
        <input type="password" th:field="*{password}" placeholder="Password">
        <input type="text" th:field="*{firstName}" placeholder="First name">
        <input type="text" th:field="*{lastName}" placeholder="Last name">
        <input type="tel" th:field="*{phoneNumber}" placeholder="Phone number">
        <button type="submit">Register</button>
    </form>
</div>
<div class="footer">
    Return to <a href="#" th:href="@{/login}">Login</a> page
</div>
</body>
</html>