<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.firstName} + ' ' + ${person.lastName}">{firstName} {lastName}</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>

<h3 th:text="${person.firstName} + ' ' + ${person.lastName}">{firstName} {lastName}</h3>
<div class="container">
    <p th:text="'E-mail: ' + ${person.email}">E-mail: {email}</p>
    <p th:if="${person.phoneNumber}" th:text="'Phone number: ' + ${person.phoneNumber}">Phone number: {phoneNumber}</p>
    <p>
        <label th:for="role">Role:</label>
        <select id="role" th:field="${person.role}" disabled>
            <option th:text="${person.role}" th:value="${person.role}">{Role}</option>
        </select>
    </p>
    <p>
        <label for="enabled">Enabled:</label>
        <input type="checkbox" id="enabled" disabled th:field="${person.enabled}">
    </p>
    <p>
        <label for="locked">Locked:</label>
        <input type="checkbox" id="locked" disabled th:field="${person.locked}">
    </p>
    <p>
        Participated in following groups:
        <ul>
            <li th:each="group: ${groups}">
                <a href="#"
                   th:href="@{/groups/{id}/details(id=${group.id})}"
                   th:text="${group.name}">
                    {groupName}
                </a>
            </li>
        </ul>
    <a href="#" th:href="@{/persons/{id}/edit(id=${person.id})}">Edit</a>
    </p>
</div>

<div class="footer">
    <p>
        Back to <a href="#" th:href="@{/persons}">People</a>...
    </p>
    <p>
        <a href="#" th:href="@{/logout}">Logout</a>
    </p>
</div>

</body>
</html>