<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.firstName} + ' ' + ${person.lastName}">{firstName} {lastName}</title>
</head>
<body>
<h3 th:text="${person.firstName} + ' ' + ${person.lastName}">{firstName} {lastName}</h3>
<p th:text="'Phone number: ' + ${person.phoneNumber}">Phone number: {phoneNumber}</p>
<div class="container">
    Participated in following groups:
    <ul>
        <li th:each="group: ${groups}">
            <a href="#"
               th:href="@{/groups/{id}/details(id=${group.id})}"
               th:text="${group.name}">
                {groupName}
            </a>
        </li>
    </ul>
    <a href="#" th:href="@{/persons/{id}/update(id=${person.id})}">Edit</a>
</div>

<div class="footer">
    <a href="#" th:href="@{/persons}">Back to People</a>
</div>

</body>
</html>