<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Debts calculation</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h3 th:text="'Debts calculation for ' + ${balance.costGroup.name}">Debts calculation for </h3>
<div th:unless="${balance.paymentsBalance.empty}" class="container dashboard">
    <h4>Payments balances</h4>
    <div class="panel error" th:each="balance: ${balance.paymentsBalance}">
        <span class="metric" th:text="|${balance.amount} ${balance.currency.shortName}|">{Amount}</span>
    </div>
</div>
<div th:unless="${balance.participationBalance.empty}" class="container dashboard">
    <h4>Participation balances</h4>
    <div class="panel error" th:each="balance: ${balance.participationBalance}">
        <span class="metric" th:text="|${balance.amount} ${balance.currency.shortName}|">{Amount}</span>
    </div>
</div>
<div class="container" th:if="${balance.debts}">
    <h4>Debts calculation</h4>
    <table>
        <tr>
            <th>Who</th>
            <th>Whom</th>
            <th>Amount</th>
        </tr>
        <tr th:each="debt: ${balance.debts}">
            <td th:text="${debt.debtor.fullName}">FirstName LastName</td>
            <td th:text="${debt.creditor.fullName}">FirstName LastName</td>
            <td th:text="|${debt.amount} ${debt.currency.shortName}|">Amount</td>
        </tr>
    </table>
</div>
<div class="container center">
    <div class="table">
        <h4>Participation total</h4>
        <table>
            <tr>
                <th>Person</th>
                <th>Amount</th>
            </tr>
            <tr th:each="total : ${participation_totals}">
                <td th:text="${total.person.fullName}"></td>
                <td th:text="|${total.amount} ${total.currency.shortName}|"></td>
            </tr>
        </table>
    </div>
    <div class="table">
        <h4>Payment total</h4>
        <table>
            <tr>
                <th>Person</th>
                <th>Amount</th>
            </tr>
            <tr th:each="total : ${payment_totals}">
                <td th:text="${total.person.fullName}"></td>
                <td th:text="|${total.amount} ${total.currency.shortName}|"></td>
            </tr>
        </table>
    </div>
</div>
<div class="footer">
    <p>Back to Group Details: <a href="#"
                                 th:href="@{/groups/{id}(id=${balance.costGroup.id})}"
                                 th:text="${balance.costGroup.name} + '...'">{group name}...</a>
    </p>
</div>
</body>
</html>