<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add split cost</title>
</head>
<body>
<h3>Add split cost</h3>
<form action="#" th:action="@{/costs/process}" th:method="post" th:object="${data}">
    <label th:for="group-name">Cost group:</label>
    <input th:value="${group.name}" id="group-name" name="group-name" readonly disabled >
    <input th:field="*{costGroupId}" th.value="${group.id}" hidden>

    <br>
    <label th:for="name">Cost name</label>
    <input type="text" th:field="*{name}">

    <br>
    <label th:for="amount">Amount</label>
    <input th:field="*{amount}" type="number" min="0.00" step="0.01">
    <select th:field="*{currencyShortName}">
        <option th:each="currency: ${currencies}" th:value="${currency.shortName}" th:text="${currency.shortName}">{CUR}</option>
    </select>

    <br>
    <lable th:for="stakeholdersIds">Stake Holders</lable>
    <select th:field="*{stakeholdersIds}" multiple>
        <option
                th:each="person : ${persons}"
                th:text="${person.firstName} + ' ' + ${person.lastName}"
                th:value="${person.id}">
            {fisrtName} {lastName}
        </option>
    </select>

    <lable th:for="payersIds">Payers</lable>
    <select th:field="*{payersIds}" multiple>
        <option
                th:each="person : ${persons}"
                th:text="${person.firstName} + ' ' + ${person.lastName}"
                th:value="${person.id}">
            {fisrtName} {lastName}
        </option>
    </select>

    <br>
    <label th:for="timestamp">Timestamp</label>
    <input th:field="*{timestamp}" type="datetime-local">

    <br>
    <button type="submit">Save & Return</button>
</form>

</body>
</html>