<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Cost: ' + ${cost.name}">{cost name}</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h3 th:text="${cost.name}">{cost name}</h3>
<div class="container">
    <form action="#" th:action="@{/costs/{id}/edit(id = ${cost.id})}" th:method="post" th:object="${cost}">
        <table>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input hidden th:value="${cost.id}" th:name="id">
                    <input hidden th:value="${cost.currency.id}" th:name="currency.id">
                    <input hidden th:value="${cost.group.id}" th:name="group.id">
                    <input required type="text" th:value="${cost.name}" th:name="name">
                </td>
            </tr>
            <tr>
                <td>Total</td>
                <td>
                    <input type="number" min="0.00" max="99999.99" step="0.01" th:value="${cost.total}" th:name="total">
                </td>
            </tr>
            <tr>
                <td>Timestamp</td>
                <td>
                    <input required type="datetime-local" th:value="${#temporals.format(cost.datetime, 'yyyy-MM-dd''T''HH:mm')}" th:name="datetime">
                </td>
            </tr>
        </table>
        <button type="submit">Save</button>
    </form>
    <form action="#" th:action="@{/costs/{id}/recalculate(id=${cost.id},from=payments)}" method="post">
        <button type="submit">Update Total from payments</button>
    </form>
    <form action="#" th:action="@{/costs/{id}/recalculate(id=${cost.id},from=participation)}" method="post">
        <button type="submit">Update Total from participation</button>
    </form>
</div>

<div class="container dashboard">
    <div class="panel">
        <h4>Total:</h4>
        <span class="metric" th:text="|${cost.total} ${cost.currency.shortName}|"></span>
    </div>
    <div class="panel">
        <h4>Paid:</h4>
        <span class="metric" th:text="|${#aggregates.sum(cost.payments.![amount])} ${cost.currency.shortName}|"></span>
    </div>
    <div class="panel">
        <h4>Paticipation:</h4>
        <span class="metric" th:text="|${#aggregates.sum(cost.participations.![amount])} ${cost.currency.shortName}|"></span>
    </div>
</div>

<div class="container">
    <h4>Total participation</h4>
    <table>
        <tr>
            <th>Person</th>
            <th>Amount</th>
        </tr>
        <tr th:each="participation_total : ${participation_totals}">
            <td th:text="${participation_total.person.fullName}">{Full Name}</td>
            <td th:text="|${participation_total.amount} ${cost.currency.shortName}|">{Amount}</td>
        </tr>
    </table>
</div>

<div class="container">
    <h4>Payments</h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Payer</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
        <tr th:each="payment: ${cost.payments}">
            <form th:action="@{/costs/{cost_id}/payments/{id}/edit(cost_id=${cost.id},id=${payment.id})}" method="post"
                  th:object="${payment}">
                <td>
                    <input hidden th:value="*{id}" th:name="id">
                    <input hidden th:value="${cost.id}" th:name="cost.id">
                    <input required type="text" th:value="*{name}" th:name="name">
                </td>
                <td>
                    <input disabled readonly th:value="*{person.fullName}">
                    <input hidden th:value="*{person.id}" th:name="person.id">
                </td>
                <td>
                    <input type="number" min="0.00" max="99999.99" step="0.01" th:value="*{amount}" th:name="amount">
                    <label th:for="amount" th:text="${cost.currency.shortName}">{CUR}</label>
                </td>
                <td>
                    <button type="submit">Save</button>
                    <button type="submit"
                            th:formaction="@{/costs/{cost_id}/payments/{id}/delete(cost_id=${cost.id},id=*{id})}">Delete
                    </button>
                </td>
            </form>
        </tr>
        <tfoot th:unless="${cost.group.participants.empty}">
        <tr>
            <form th:action="@{/costs/{cost_id}/payments/add(cost_id=${cost.id})}" method="post"
                  th:object="${new_payment}">
                <td>
                    <input hidden th:value="${cost.id}" th:field="*{cost.id}">
                    <input required type="text" th:field="*{name}" placeholder="Payment name">
                </td>
                <td>
                    <select th:field="*{person.id}">
                        <option th:each="person : ${cost.group.participants}" th:value="${person.id}"
                                th:text="${person.fullName}">{firstName} {lastName}
                        </option>
                    </select>
                </td>
                <td>
                    <input type="number" min="0.00" max="99999.99" step="0.01" th:field="*{amount}">
                    <label th:for="amount" th:text="${cost.currency.shortName}">{CUR}</label>
                </td>
                <td>
                    <button type="submit">Add</button>
                </td>
            </form>
        </tr>
        </tfoot>
    </table>
</div>

<div class="container">
    <h4>Participation</h4>
    <table>
        <tr>
            <th>Item name</th>
            <th>Participant</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
        <tr th:each="participation: ${cost.participations}">
            <form th:action="@{/costs/{cost_id}/participation/{id}/edit(cost_id=${cost.id},id=${participation.id})}" method="post"
                  th:object="${participation}">
                <td>
                    <input required type="text" th:value="*{name}" th:name="name">
                </td>
                <td>
                    <input disabled readonly th:value="*{person.fullName}">
                    <input hidden th:value="*{person.id}" th:name="person.id">
                </td>
                <td>
                    <input type="number" min="0.00" step="0.01" th:value="*{amount}" th:name="amount">
                    <label th:for="amount" th:text="${cost.currency.shortName}">{CUR}</label>
                    <input hidden th:value="*{id}" th:name="id">
                    <input hidden th:value="${cost.id}" th:name="cost.id">
                </td>
                <td>
                    <button type="submit">
                        Save
                    </button>
                    <button type="submit"
                            th:formaction="@{/costs/{cost_id}/participation/{id}/delete(cost_id=${cost.id},id=*{id})}">
                        Delete
                    </button>

                </td>
            </form>
        </tr>
        <tfoot>
        <tr>
            <form th:action="@{/costs/{cost_id}/participation/add(cost_id=${cost.id})}" method="post" th:object="${new_participation}">
                <td>
                    <input hidden th:value="${cost.id}" th:field="*{cost.id}">
                    <input required type="text" th:field="*{name}" placeholder="Paid item name">
                </td>
                <td>
                    <select th:field="*{person.id}">
                        <option th:each="person : ${cost.group.participants}" th:value="${person.id}"
                                th:text="${person.fullName}">{firstName} {lastName}
                        </option>
                    </select>
                </td>
                <td>
                    <input type="number" min="0.00" step="0.01" th:field="*{amount}">
                    <label th:for="amount" th:text="${cost.currency.shortName}">{CUR}</label>
                </td>
                <td>
                    <button type="submit">Add</button>
                </td>
            </form>
        </tr>
        <tr>
            <form th:action="@{/costs/{cost_id}/participation/split(cost_id=${cost.id})}" th:method="get">
                <td>
                    <input hidden th:name="amount" th:value="${new_participation.amount}">
                    <button type="submit">Split</button>
                </td>
            </form>
        </tr>
        </tfoot>
    </table>
</div>

<div class="footer">
    <p>Return to Group <a href="#"
                          th:href="@{/groups/{id}(id=${cost.group.id})}"
                          th:text="${cost.group.name} + '...'">{groupName}...</a></p>
    <p>
        <a href="#" th:href="@{/logout}">Logout</a>
    </p>
</div>

</body>
</html>