<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Cost Group</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h3>Add Cost Group</h3>
<div class="container">
    <form action="#" th:action="@{/groups/add}" th:object="${group}" method="post">
        <ul>
            <li>
                <label th:for="name">Name:</label>
                <input type="text" th:field="*{name}">
            </li>
            <li>
                <label th:for="description">Description:</label>
                <textarea th:field="*{description}">description</textarea>
            </li>
            <li>
                <label th:for="startDate">Start date:</label>
                <input type="date" th:field="*{startDate}">
            </li>
            <li>
                <label th:for="endDate">End date:</label>
                <input type="date" th:field="*{endDate}">
            </li>
        </ul>
        <button type="submit">Save</button>
    </form>

</div>
<div class="footer">
    <p>
        Back to <a href="#" th:href="@{/groups}">Cost Groups...</a>
    </p>
</div>

</body>
</html>