<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{costGroup.name}}</title>

</head>
<body>
<div class="container">
    <table>
        <tr>
            <td>id</td>
            <td>{{costGroup.id}}</td>
        </tr>
        <tr>
            <td>name</td>
            <td>{{costGroup.name}}</td>
        </tr>
        <tr>
            <td>description</td>
            <td>{{costGroup.description}}</td>
        </tr>
        <tr>
            <td>start date</td>
            <td>{{costGroup.startDate}}</td>
        </tr>
    </table>
</div>
</body>
</html>