<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h3>Groups</h3>
<div class="message error" th:if="${error}" th:text="${error}">{error}</div>
<div class="container">
    <table>
        <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Actions</th>
        </tr>
        <tr th:each="group : ${groups}">
            <form th:id="'del_group_' + ${group.id}" th:action="@{/groups/{id}/delete(id=${group.id})}" th:method="post"></form>
            <form th:id="'viewgroup_' + ${group.id}" th:action="@{/groups/{id}(id=${group.id})}" th:method="get"></form>
            <form th:id="'savegroup_' + ${group.id}" th:action="@{/groups/{id}/edit(id=${group.id})}" th:method="post" th:object="${group}">
                <td>
                    <input hidden
                           th:form="'savegroup_' + ${group.id}"
                           th:value="*{id}"
                           th:name="id">
                    <input required type="text"
                           th:form="'savegroup_' + ${group.id}"
                           th:value="*{name}"
                           th:name="name">
                    <input hidden
                           th:form="'savegroup_' + ${group.id}"
                           th:value="*{description}"
                           th:name="description">
                </td>
                <td>
                    <input required type="date"
                           th:form="'savegroup_' + ${group.id}"
                           th:value="*{startDate}"
                           th:name="startDate">
                </td>
                <td>
                    <input type="date"
                           th:form="'savegroup_' + ${group.id}"
                           th:value="*{endDate}"
                           th:name="endDate">
                </td>
                <td>
                    <button th:form="'savegroup_' + ${group.id}" type="submit">Save</button>
                    <button th:form="'viewgroup_' + ${group.id}" type="submit">View</button>
                    <button th:form="'del_group_' + ${group.id}" type="submit">Delete</button>
                </td>
            </form>
        </tr>
        <tfoot>
        <tr>
            <form action="#" th:action="@{/groups/add}" th:method="post" th:object="${new_group}">
                <td>
                    <input required type="text" th:field="*{name}" placeholder="name">
                </td>
                <td>
                    <input required type="date" th:field="*{startDate}">
                </td>
                <td>
                    <input type="date" th:field="*{endDate}">
                </td>
                <td>
                    <button type="submit">Add</button>
                </td>
            </form>
        </tr>
        </tfoot>
    </table>
</div>

<div class="footer">
    <p>Return to <a href="#" th:href="@{/}">start page...</a></p>
</div>

</body>
</html>