<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Group: ' + ${group.name}">{group name}</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h3 th:text="${group.name}">{group name}</h3>
<div class="message error" th:if="${error}" th:text="${error}">{error}</div>
<div class="container">
    <form id="formcalculate" action="#" th:action="@{/debts/calculation(group_id=${group.id})}" th:method="get">
        <input form="formcalculate" hidden th:name="group_id" th:value="${group.id}">
    </form>
    <form id="formsave" action="#" th:action="@{/groups/{id}/edit(id=${group.id})}" th:method="post" th:object="${group}">
        <table>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input form="formsave" hidden th:field="*{id}">
                    <input form="formsave" required type="text" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    <textarea form="formsave" th:text="*{description}" th:name="description" placeholder="description">{description}</textarea>
                </td>
            </tr>
            <tr>
                <td>Started</td>
                <td>
                    <input form="formsave" required type="date" th:field="${group.startDate}">
                </td>
            </tr>
            <tr>
                <td>Ended</td>
                <td>
                    <input form="formsave" type="date" th:field="${group.endDate}">
                </td>
            </tr>
        </table>
    </form>
    <button form="formsave" type="submit">Save</button>
    <button form="formcalculate" type="submit">View balance</button>
</div>
<div class="container dashboard">
    <div class="panel">
        <h5>Total</h5>
        <p class="metric info" th:each="total: ${balance.costTotals}" th:text="|${total.amount} ${total.currency.shortName}|">{amount} {cur}</p>
    </div>
    <div class="panel" th:unless="${balance.paymentsBalance.empty}">
        <h5>To pay</h5>
        <p class="metric"
           th:each="payment: ${balance.paymentsBalance}"
           th:classappend="${payment.amount > 0 ? 'error' : 'warning'}"
           th:text="|${payment.amount} ${payment.currency.shortName}|">
            {amount} {cur}
        </p>
    </div>
    <div class="panel" th:unless="${balance.participationBalance.empty}">
        <h5>To allocate</h5>
        <p class="metric"
           th:each="participation: ${balance.participationBalance}"
           th:classappend="${participation.amount > 0 ? 'warning' : 'error'}"
           th:text="|${participation.amount} ${participation.currency.shortName}|">
            {amount} {cur}
        </p>
    </div>
</div>
<div class="container">
    <h4>Participants</h4>
    <div class="message error" th:if="${participantsError}" th:text="${participantsError}">{error}</div>
    <table>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        <tr th:each="participant : ${group.participants}">
            <form th:action="@{/groups/{id}/participants/delete(id=${group.id})}" th:method="post" th:object="${participant}">
                <td>
                    <input disabled readonly th:value="*{fullName}">
                    <input hidden th:value="*{email}" th:name="email">
                </td>
                <td>
                    <button type="submit">Delete</button>
                </td>
            </form>
        </tr>
        <tfoot>
        <tr>
            <form th:unless="${candidates.empty}" th:action="@{/groups/{id}/participants/add(id=${group.id})}" th:method="post" th:object="${participant}">
                <td>
                    <select th:field="*{email}">
                        <option th:each="candidate : ${candidates}" th:text="${candidate.fullName}" th:value="${candidate.email}">{firstName} {lastName}</option>
                    </select>
                </td>
                <td>
                    <button type="submit">Add</button>
                </td>
            </form>
        </tr>
        </tfoot>
    </table>
</div>

<div class="container">
    <h4>Costs</h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Total</th>
            <th>Participation</th>
            <th>Payment</th>
            <th>Actions</th>
        </tr>
        <tr th:each="cost: ${group.costs}">
            <form th:id="|viewcost_${cost.id}|" action="#" th:action="@{/costs/{id}(id=${cost.id})}"
                  th:method="get"></form>
            <form th:id="|del_cost_${cost.id}|" action="#" th:action="@{/costs/{id}/delete(id=${cost.id})}"
                  th:method="post"></form>
            <form th:id="|savecost_${cost.id}|" action="#" th:action="@{/costs/{id}/edit(id=*{id})}" th:method="post"
                  th:object="${cost}">
                <td>
                    <input hidden th:value="*{id}" th:name="id">
                    <input hidden th:value="*{group.id}" th:name="group.id">
                    <input hidden type="datetime-local" th:value="*{datetime}" th:name="datetime">
                    <input type="text" th:value="*{name}" th:name="name">
                </td>
                <td>
                    <input readonly type="number" min="0.00" max="9999.99" step="0.01" th:value="*{total}"
                           th:name="total">
                    <label th:for="total" th:text="*{currency.shortName}">{CUR}</label>
                    <input hidden th:value="*{currency.id}" th:name="currency.id">
                </td>
                <td>
                    <th:block th:text="*{#aggregates.sum(participations.![amount])}">
                        {SUM}
                    </th:block>
                </td>
                <td>
                    <th:block th:text="*{#aggregates.sum(payments.![amount])}">
                        {SUM}
                    </th:block>
                </td>
                <td>
                    <button type="submit">Save</button>
                    <button th:form="'viewcost_' + ${cost.id}" type="submit">View</button>
                    <button th:form="'del_cost_' + ${cost.id}" type="submit">Delete</button>
                </td>
            </form>
        </tr>
        <tfoot>
        <form action="#" th:action="@{/costs/add}" th:method="post" th:object="${new_cost}">
            <tr>
                <td>
                    <input hidden th:value="*{group.id}" th:name="group.id">
                    <input type="text" th:field="*{name}" placeholder="name">
                </td>
                <td>
                    <input type="number" min="0.00" max="9999.99" step="0.01" th:field="*{total}" placeholder="0.00">
                    <select th:name="currency.id">
                        <option
                                th:each="currency: ${currencies}"
                                th:text="${currency.shortName}"
                                th:value="${currency.id}">{CUR}
                        </option>
                    </select>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <button type="submit">Add</button>
                </td>
            </tr>
        </form>
        </tfoot>
    </table>
    <!--    <p>-->
    <!--        <a href="#" th:href="@{/costs/process?group_id={group_id}(group_id=${group.id})}">Add cost with split stakes & payment</a>-->
    <!--    </p>-->
</div>
<div class="container">
    <h4>Transactions</h4>
    <table>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
        <tr th:each="transaction: ${group.transactions}">
            <form th:action="@{/groups/{group_id}/transactions/{id}/edit(group_id=${group.id},id=${transaction.id})}" method="post"
                  th:object="${transaction}">
                <input hidden th:value="*{group.id}" th:name="group.id">
                <td>
                    <input disabled readonly th:value="*{from.fullName}">
                    <input hidden th:value="*{from.id}" th:name="from.id">
                </td>
                <td>
                    <input disabled readonly th:value="*{to.fullName}">
                    <input hidden th:value="*{to.id}" th:name="to.id">
                </td>
                <td>
                    <input type="number" min="0.00" max="9999.99" step="0.01" th:value="*{amount}"
                           th:name="amount">
                    <label th:for="amount" th:text="*{currency.shortName}">{CUR}</label>
                    <input hidden th:value="*{currency.id}" th:name="currency.id">
                </td>
                <td>
                    <button type="submit">Save</button>
                    <button type="submit"
                            th:formaction="@{/groups/{group_id}/transactions/{id}/delete(group_id=${group.id},id=*{id})}">Delete
                    </button>
                </td>
            </form>
        </tr>
        <tfoot>
        <form action="#" th:action="@{/groups/{group_id}/transactions/add(group_id=${group.id})}" th:method="post" th:object="${new_transaction}">
            <input hidden th:field="*{group.id}" th:value="${group.id}">
            <td>
                <select th:field="*{from.id}">
                    <option th:each="person : ${group.participants}" th:value="${person.id}"
                            th:text="${person.fullName}">{firstName} {lastName}
                    </option>
                </select>
            </td>
            <td>
                <select th:field="*{to.id}">
                    <option th:each="person : ${group.participants}" th:value="${person.id}"
                            th:text="${person.fullName}">{firstName} {lastName}
                    </option>
                </select>
            </td>
            <td>
                <input type="number" min="0.00" max="9999.99" step="0.01" th:field="*{amount}" placeholder="0.00">
                <select th:name="currency.id">
                    <option
                            th:each="currency: ${currencies}"
                            th:text="${currency.shortName}"
                            th:value="${currency.id}">{CUR}
                    </option>
                </select>
            </td>
            <td>
                <button type="submit">Add</button>
            </td>
        </form>
        </tfoot>
    </table>
</div>
<div th:unless="${balance.debts.empty}" class="container" th:if="${balance.debts}">
    <h4>Debts</h4>
    <table>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
        <tr th:each="debt: ${balance.debts}">
            <form action="#" th:action="@{/groups/{group_id}/transactions/add(group_id=${group.id})}" th:method="post" th:object="${new_transaction}">
                <input hidden th:name="group.id" th:value="${group.id}">
                <td>
                    <input disabled readonly th:value="${debt.debtor.fullName}">
                    <input hidden th:name="from.id" th:value="${debt.debtor.id}">
                </td>
                <td>
                    <input disabled readonly th:value="${debt.creditor.fullName}">
                    <input hidden th:name="to.id" th:value="${debt.creditor.id}">
                </td>
                <td>
                    <input readonly type="number" min="0.00" max="9999.99" step="0.01"
                           th:name="amount" th:value="${debt.amount}">
                    <label th:for="amount" th:text="${debt.currency.shortName}">{CUR}</label>
                    <input hidden th:name="currency.id" th:value="${debt.currency.id}">
                </td>
                <td>
                    <button type="submit">Pay off</button>
                </td>
            </form>
        </tr>
    </table>
</div>
<div class="footer">
    <p>Return to <a href="#" th:href="@{/groups}">Groups...</a></p>
</div>

</body>
</html>