<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Cost group: ' + ${costGroupDetails.group.name}">{group name}</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h3 th:text="${costGroupDetails.group.name}">{group name}</h3>
<div class="container">
    <table>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Name</td>
            <td th:text="${costGroupDetails.group.name}">{name}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td th:text="${costGroupDetails.group.description}">{description}</td>
        </tr>
        <tr>
            <td>Started</td>
            <td th:text="${costGroupDetails.group.startDate}">{start date}</td>
        </tr>
        <tr>
            <td>Ended</td>
            <td th:text="${costGroupDetails.group.endDate}">{end date}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td th:text="${costGroupDetails.total}"></td>
        </tr>
    </table>
    <a href="#" th:href="@{/groups/{id}/edit(id=${costGroupDetails.group.id})}">Edit</a>
</div>

<div class="container">
    <h4>Costs</h4>
    <table>
        <tr>
            <th>Cost name</th>
            <th>Amount</th>
            <th>Stake holders</th>
            <th>Payers</th>
            <th>Actions</th>
        </tr>
        <tr th:each="cost: ${costGroupDetails.costs}">
            <td th:text="${cost.name}">{name}</td>
            <td th:text="${cost.amount} + ' ' + ${cost.currency.shortName}">{amount} {CUR}</td>
            <td>
                <p th:each="stake: ${cost.stakes}" th:text="${stake.person.firstName} + ' ' + ${stake.person.lastName}">{first name} {last name}</p>
            </td>
            <td>
                <p th:each="payment: ${cost.payments}" th:text="${payment.person.firstName} + ' ' + ${payment.person.lastName}">{first name} {last name}</p>
            </td>
            <td>
                <a href="#" th:href="@{/costs/{id}(id=${cost.id})}">View details</a>
                <!--                <a href="#">[x]</a>-->
            </td>
        </tr>
    </table>
    <p>
        <a href="#" th:href="@{/costs/add?group_id={group_id}(group_id=${costGroupDetails.group.id})}">Add empty cost</a>
    </p>
    <p>
        <a href="#" th:href="@{/costs/process?group_id={group_id}(group_id=${costGroupDetails.group.id})}">Add cost with split stakes & payment</a>
    </p>
</div>

<div class="container">
    <a href="#" th:href="@{/debts/calculation?group_id={group_id}(group_id=${costGroupDetails.group.id})}">View calculations</a>
</div>
<div class="footer">
    <p>Back to <a href="#" th:href="@{/groups}">Groups...</a></p>
</div>

</body>
</html>