<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shared Cost Main page</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h3>Start page</h3>
<div class="container">
    <p>
        Go to <a href="#" th:href="@{/groups}">Cost Groups...</a>
    </p>
    <p>
        Go to <a href="#" th:href="@{/persons}">People...</a>
    </p>
    <p>
        Go to <a href="#" th:href="@{/currency}">Currencies...</a>
    </p>
</div>

<div class="footer">
    <p>
        <a href="#" th:href="@{/logout}">Logout</a>
    </p>
</div>

</body>
</html>