<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Shared Cost Main page</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h3>Start page</h3>
<div class="container">
    <h4>Manage</h4>
    <p>
        <a href="#" th:href="@{/groups}">Groups...</a>
    </p>
</div>
<div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
    <h4>Application Setup</h4>
    <p>
        <a href="#" th:href="@{/persons}">People...</a>
    </p>
    <p>
        <a href="#" th:href="@{/currency}">Currencies...</a>
    </p>
</div>

<div class="footer">
    <p>
        <a href="#" th:href="@{/self}" sec:authentication="name"></a>
    </p>
    <p>
        <a href="#" th:href="@{/logout}">Logout</a>
    </p>
</div>

</body>
</html>