<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>

<div class="centered">
    <div class="login-container">
        <h3>Login page</h3>
        <form action="#" th:action="@{/login}" method="post">
            <p>
                <input type="text" name="username" placeholder="username" required autofocus>
            </p>
            <p>
                <input type="password" name="password" placeholder="password" required>
            </p>
            <p>
                <input type="checkbox" name="remember-me"/>Remember Me
            </p>
            <button type="submit">Sign in</button>
            <p class="error" th:if="${param.error}">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </form>
        <!--    <script async src="https://telegram.org/js/telegram-widget.js?18" data-telegram-login="shared_costs_bot" data-size="large" data-auth-url="/auth/telegram" data-request-access="write"></script>-->
    </div>
    <div class="footer">
        <p>
            Don't have a login? Register <a href="#" th:href="@{/register}">here</a>
        </p>
    </div>
</div>

</body>
</html>